body{
    background-color:rgba(179, 179, 179, 0.418); 
}
/*Displaying the emoji box and input box with heading as flex*/
.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top:5%;
}
/* Setting the emoji size and position*/
.container__card{
    width:60%;
    height:100%;
    font-size:25em;
    text-align:center;
    margin:0px;
}
/*Formatting the heading content*/
.container__description{
    display:block;
    font-family: 'Caveat', cursive;
    font-size:2rem;
    width:25%;
    height:25%;
}
/* Displaying the input box and timer as flex*/
.container__description__box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Setting the font properties of input box*/
.container__description__input{
    font-size:30px;
    text-align:center;
    font-family: 'Caveat', cursive;
}
.container__description__title{
    margin:0px;
}
.container__description__symbol{
    margin:0px;
    margin-left:18%;
}
.container__description__btn{
    display:none; /* Setting the initial display of restart button none */
    border:none;
    background-color: #2962ff;
    color:white;
    cursor:pointer;
    height:3em;
    width:7em;
    font-size:0.7em;
    margin-top:4px;
    justify-content: center;
    font-family: 'Caveat', cursive;
}
.container__description__btn:hover{
    background-color: #1600db;;
}
li{ /* formatting the instructions on the instruction box */
    font-size: 3em;
    list-style-type: none;
}
.display-box{
    display:block;
    background-image: url("/images/backgroundEmoji.png"); /* setting the background emoji image */
    font-family: "Caveat";
    width:100%;
    height:100%;
    text-align:center;
    transform:translate(-50%,-50%); /* positioning the x and y coordinate of box at center */
    left:50%;
    top:50%;
    position:absolute;
    border-radius:8px;

}
@media(max-width:710px){
    /*adjusting the content size and formatting for mobile devices*/
    .container{
        flex-direction:column; /*changing the flex-direction from row to column for max-width of 710px*/
    }
    .container__card{
        font-size:200px;
        margin-left:15%;
    }
    .container__description{
        font-size:2rem;
        padding:0px;
        margin:15%;
        margin-top:0%;
        width:50%;

    }
    .container__description__input{
        font-size:15px;
    }
    
}
